/**
* hr styling
*/

/* rpgui hr */
.hr {
	display: block;
	border: 0px;
	height: 10px;
	background: url('assets/images/ui/hr.png') repeat-x top left;
}

/* rpgui golden hr */
.golden {
	display: block;
	border: 0px;
	height: 10px;
	background: url('assets/images/ui/hr-golden.png') no-repeat top left;
	background-size: 100% 100%;
}
