.border {
  border-style: solid;
  border-image-source: url('assets/images/ui/button-border.png');
  border-image-repeat: repeat;
  border-image-slice: 16 fill;
  border-width: 16px;
}

.border--hover:hover {
  border-image-source: url('assets/images/ui/button-border-hover.png');
}
