/**
* style for checkboxes
*/

/* basic checkbox */
input[type='checkbox'].rpgui-checkbox {
	display: none;
}

input[type='checkbox'].rpgui-checkbox + label {
	background: url('assets/images/ui/checkbox-off.png') no-repeat;
	line-height: 24px;
	display: inline-block;
	background-size: auto 100%;
	padding-left: 34px;
	height: 24px;
	margin-top: 10px;
	margin-bottom: 10px;
}

input[type='checkbox'].rpgui-checkbox:checked + label {
	background: url('assets/images/ui/checkbox-on.png') no-repeat;
	background-size: auto 100%;
}

/* golden checkbox */

input[type='checkbox'].rpgui-checkbox.golden + label {
	background: url('assets/images/ui/checkbox-golden-off.png') no-repeat;
	background-size: auto 100%;
}

input[type='checkbox'].rpgui-checkbox.golden:checked + label {
	background: url('assets/images/ui/checkbox-golden-on.png') no-repeat;
	background-size: auto 100%;
}
