.border {
  border-style: solid;
  border-image-source: url('assets/images/ui/header-boder.png');
  border-image-repeat: stretch;
  border-image-slice: 14 24 8 24 fill;
  border-width: 14px 24px 8px 24px;
}

.reverse {
  border-image-source: url('assets/images/ui/header-border-reverse.png');
}
