@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		/* background-color: #2e222f; */
		overflow: hidden;
	}
}

@layer components {
	.rpgui-content * {
		/* remove outline effect for input elements etc */
		outline: none;

		/* prevent text selecting */
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		/* pixelated enlargement filter (to keep the pixel-art style when enlarging pictures) */
		-ms-interpolation-mode: nearest-neighbor;
		image-rendering: -webkit-optimize-contrast;
		image-rendering: -webkit-crisp-edges;
		image-rendering: -moz-crisp-edges;
		image-rendering: -o-crisp-edges;
		image-rendering: pixelated;
	}
}
