.border {
  border-style: solid;
  border-image-repeat: stretch;
  border-image-slice: 16 fill;
  border-width: 16px;
}

.top-left-bottom-right {
  border-image-source: url('assets/images/ui/container-top-left-bottom-right.png');
}

.top-right-bottom-left {
  border-image-source: url('assets/images/ui/container-top-right-bottom-left.png');
}

.top-both-bottom-right {
  border-image-source: url('assets/images/ui/container-top-both-bottom-right.png');
}
