.layout {
  background: url('assets/images/ui/background.jpg') no-repeat bottom;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  padding-top: 150px;
}

.layout::before {
  content: '';
  position: absolute;
  background-image: url('assets/images/ui/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  height: 150px;
  width: calc(150px * 4.5);
}
